* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-default);
  width: 100vw;
  height: 100vh;
}

:root {
  --color-primary: #00BC0E,
  --text-primary: #000,
  --background-cart-buy: #F0F0F0,
  --background-default: #FFFFFF,
}