.headerMobile {
  background-color: var(--background);
  padding: 20px 20px;
  border-bottom: 1px solid var(--border-menu-mobile);
  
  .navMobile {
    display: flex;
    justify-content: space-between;
    
    .logo{
      margin-top: 25px;
      width: 80%;
    }
    
    .buguer {
      margin-top: 35px;
      cursor: pointer;
    }
    
    .mini-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
    }
  }
}
